
    <footer>
        <div class="footer-container">
            <p id="footer-copyright" >Copyright ©️ <%= new Date().getFullYear()%>. All rights reserved</p>
            <div class="socials">
                <a class="socials-item" href="https://x.com/Teen_Lalu" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i>X</a>
                <a class="socials-item" href="https://www.instagram.com/yanet-geleta/" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i>Instagram</a>
                <a class="socials-item" href="https://t.me/Teen_La" target="_blank" aria-label="Telegram"><i class="fab fa-telegram"></i>Telegram</a>
                <a class="socials-item" href="https://www.facebook.com/share/1EWXB5RrdD/?mibextid=wwXIfr" target="_blank" aria-label="Facebook"><i class="fab fa-facebook"></i>Facebook</a>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $('.clickable-single-book').on('click', function() {
            $(this).closest('form').submit();
        })
        function setupPrevent(id) {
            $(`#${id}`).on('click', function(e) {
                const clicked = $(this).data("clicked") || false;
                if(clicked) {
                    e.preventDefault();
                    console.log("Load prevented");
                } else {
                    $(this).data("clicked", true);
                    console.log("No need to prevent load")
                }
            })
        }
        setupPrevent('toReadBtn');
        setupPrevent('readingBtn');
        setupPrevent('readBtn');
        setupPrevent('recBtn');

        $('.genre-button').on('click', function() {
            $('.genre-button').removeClass('selected-genre-button');
            $(this).addClass('selected-genre-button');
        });
        $(document).ready(function() {
            let savedGenreId = $('[data-id="random-genre"]').text();
            $(`[data-id="${savedGenreId}"]`).addClass('selected-genre-button')
        })
        $(document).ready(function() {
            let onDisplayList = $('[data-id="display-list"]').val();
            // console.log(onDisplayList)
            let buttons = $(`[name="profileList"]`);
            // console.log(buttons)
            let button = buttons.filter(function() {
                return $(this).text() === onDisplayList;
            });
            $(button).addClass('profile-clicked-list');
        })
    </script>
</body>
</html>