main {
   background-color: rgb(133, 65, 65);
   margin-top: 5rem;
}
.main-container {
   display: flex;
   gap: 4rem;
   width: 85vw;
   margin: 2rem auto;
}
.left-side {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   flex: 1;
}
.genre {
   flex: 2;
}
.currently-reading, .recommendations, .genre {
background-color: white;
border-radius: 5px;
} 

.book-thumbnail {
margin: 1.25rem auto;
border-radius: 5px;
}