.search-book {
    display: block;
    margin: 1.5em 0;
    background-color: white;
    border-radius: 7px;
    padding: 1em;
    width: 100%;
}
select {
    appearance: none;
}
img, .search-title-author, #select-list {
    display: inline-block;
}